aside.logo{
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logoImage{
    width: max-content;
    height: var(--logo-height);
    padding: 0px;
}
